<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ojos de Diferente Color en Huskies</title>
    <!-- Enlace al CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2;
        }
        .container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="mt-3">Ojos de Diferente Color en Huskies</h1>

    <p>Una característica fascinante de los Huskies es que a menudo tienen ojos de diferentes colores. Esta condición se conoce como "heterocromía". Aquí hay algunas razones por las que algunos Huskies tienen ojos de diferente color:</p>

    <h2>1. Genética</h2>
    <p>La heterocromía en los Huskies es en gran parte el resultado de la genética. Es causada por la herencia de genes que afectan la pigmentación del iris. Un ojo puede tener más pigmento que el otro, lo que resulta en colores diferentes.</p>

    <h2>2. Raza</h2>
    <p>La heterocromía es más común en razas como los Huskies, los Malamutes de Alaska y los Border Collies. La genética de estas razas parece predisponerlos a esta condición única.</p>

    <h2>3. Exposición al Sol</h2>
    <p>La exposición al sol puede afectar la pigmentación del iris en los Huskies, lo que podría resultar en una diferencia en el color de los ojos. Esto es más común en Huskies con ojos azules.</p>

    <h2>4. Herencia de Antepasados</h2>
    <p>En algunos casos, los Huskies pueden heredar la heterocromía de sus antepasados. Si un antepasado tenía ojos de diferente color, es posible que esta característica se transmita a las generaciones posteriores.</p>

    <!-- Botón para volver a la página principal (index.html) -->
    <a href="{{ url_for('index') }}" class="btn btn-primary">Volver a la página principal</a>
</div>

<!-- Enlaces a los archivos de Bootstrap y JavaScript (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
