<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuidado de Huskies</title>
    <!-- Enlace al CSS de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f2f2f2; /* Color de fondo */
        }
        .container {
            background-color: #fff; /* Color de fondo del contenedor */
            border-radius: 10px; /* Bordes redondeados del contenedor */
            padding: 20px;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 class="mt-3">Cuidado de Huskies</h1>

    <p>Los Huskies son una raza de perro hermosa y enérgica que requiere cuidados especiales para mantenerlos felices y saludables. A continuación, te proporcionamos algunos consejos importantes para cuidar de tu Husky:</p>

    <h2>1. Ejercicio Regular</h2>
    <p>Los Huskies son perros muy activos y necesitan ejercicio diario. Asegúrate de darles paseos largos y oportunidades para correr y jugar.</p>

    <h2>2. Alimentación Adecuada</h2>
    <p>Proporciona una dieta equilibrada y de alta calidad para tu Husky. Consulta con tu veterinario para determinar sus necesidades nutricionales específicas.</p>

    <h2>3. Cepillado Regular</h2>
    <p>Los Huskies tienen un pelaje denso que requiere cepillado regular para evitar la formación de nudos y mantener su pelaje saludable.</p>

    <h2>4. Control Veterinario</h2>
    <p>Lleva a tu Husky al veterinario de manera regular para chequeos de salud y vacunaciones. Mantén al día su protección contra parásitos y enfermedades.</p>

    <!-- Botón para volver a la página principal (index.html) -->
    <a href="{{ url_for('index') }}" class="btn btn-primary">Volver a la página principal</a>

</div>

<!-- Enlaces a los archivos de Bootstrap y JavaScript (opcional) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
